

      <h1 class='center'>USER ID: <b>{{userId}}</b> </h1>


      <div class="record_holder">
{{# each items }}
            <div class='single_record'>

                <div><B>Finojo ID:</b> {{ this._id }}</div>
                <div><b>IPFD Hash Code:</b> <a href="https://ipfs.io/ipfs/{{ this.ipfsCode }}">{{ this.ipfsCode }}</a></div>
                <div><b>Corporate Id:</b> {{ this.corporateId }}</div>
            </div>
{{/each}}
      </div>
